<!DOCTYPE html>
<html>

<head>

  <script src="https://js.braintreegateway.com/web/3.6.0/js/client.min.js"></script>
  <script src="https://js.braintreegateway.com/web/3.6.0/js/hosted-fields.min.js"></script>
  <script src="https://js.braintreegateway.com/web/3.6.0/js/paypal.min.js"></script>
  <script src="https://js.braintreegateway.com/web/3.6.0/js/data-collector.min.js"></script>
  <script src="https://js.braintreegateway.com/web/3.6.0/js/three-d-secure.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<!-- https://checkout.paypal.com/pwpp/2.21.0/images/pay-with-paypal.png -->
</head>

<body>

  <h3>Welcome to Hosted Fields with Braintree v3!</h3>
  <br />

  <div class="form-container">
    <div id="message" class="message form-element"></div>
    <br />

    <div id="threeds"></div>

    <p>
      <div class="form-element form-input">$<input id="amount" placeholder="Amount" style="width:210px"></div>
    </p>
    <p>
      <div id="card-number" class="braintree-hosted-container form-element"></div>
    </p>
    <p>
      <div id="expiration-date" class="braintree-hosted-container form-element"></div>
    </p>
    <p>
      <div id="cvv" class="braintree-hosted-container form-element"></div>
    </p>
    <!--
    <p>
      <div id="postal-code" class="braintree-hosted-container form-element"></div>
    </p>
    -->

    <button id="paypalButton" class="form-element" disabled="true">Pay with PayPal instead</button>
    <br/>
    <button id="submitter" class="form-element" disabled="true">Submit</button>
  </div>

  <script>

    var hostedFields;
    var threeDSecure;

    var submitter = $("#submitter");
    var messenger = $(".message");
    var paypalButton = $("#paypalButton");
    var threeDSContainer = $(".threeds");

    var ppInstance;

    var output = "No message because nothing has happened.";
    var deviceDataCollected = "this is not device data because dataCollector hasn't run";

    var nonce = "this is not a nonce";

    // Function to tokenize hosted fields to get a nonce
    // verify it with 3D Secure
    // then call nonceHandler to submit it
    function nonceGetterHF() {
      messenger.text("Working...")
      hostedFields.tokenize(function (err, payload) {
        if (err) {
          messenger.text(err.message + ".");
          console.log(JSON.stringify(err));
          return;
        }
        console.log(JSON.stringify(payload));
        if (threeDSecure != null) {
          threeDSecure.verifyCard({
            amount: $("#amount").val(),
            nonce: payload.nonce,
            addFrame: function (err, iframe) {
              if (err) {
                console.log(JSON.stringify(err));
                return;
              }
              my3DSContainer = document.createElement('div');
              my3DSContainer.appendChild(iframe);
              document.body.appendChild(my3DSContainer);
            },
            removeFrame: function () {
              document.body.removeChild(my3DSContainer);
            },
          }, function(err, verification) {
            if (err) {
              console.log(JSON.stringify(err));
              return;
            }
            nonce = verification.nonce;
          });
        } else {
          nonce = payload.nonce;
        }
        nonceHandler(nonce, $("#amount").val());
      });
    }

    // Function to groups transaction params, incl. the nonce,
    // post them to the server endpoint,
    // and retrieve and display results.
    function nonceHandler(nonce, amount) {
      console.log("Nonce handling has begun...");
      $.ajax({
        url: "/create_transaction",
        data: { nonce: nonce, amount: amount, device_data: deviceDataCollected, },
        type: "POST",
        dataType: "text",
      })
      .done(function(response) {
        // get info from response, display
        output = response;
      })
      .fail(function(xhr, status, errorThrown) {
        output = "An error occurred. Please refresh the page and try again.";
        console.log(xhr);
        console.log("Error: " + errorThrown + " Status: " + status);
      })
      .always(function(xhr, status) {
        console.log("Request made and completed.");
        messenger.text(output);
      });
    }

    // Braintree Code:
    braintree.client.create({
      authorization: "{{ client_token }}"
    }, function (err, braintreeClientInstance) {
      // Braintree client...
      if (err) {
        console.log(JSON.stringify(err));
        return;
      }
      // ...is good to go.
      console.log("Braintree client created.");

      // Create Data Collector:
      braintree.dataCollector.create({
        client: braintreeClientInstance,
        kount: true,
  		  paypal: true,
      }, function (err, data) {
          if (err) {
            console.log(JSON.stringify(err));
            deviceDataCollected = "This is not device data because there was a problem: " + JSON.stringify(err);
            return;
          }
          // Data collector is good to go:
          deviceDataCollected = data.deviceData;
          console.log("Device data captured: " + deviceDataCollected);
      });

      // Create Hosted Fields:
      braintree.hostedFields.create({
        client: braintreeClientInstance,
        styles: {
          "input": {"font-family": "monospace"},
        },
        fields: {
          number: {selector: "#card-number", placeholder: "Credit Card Number"},
          cvv: {selector: "#cvv", placeholder: "CVV"},
          expirationDate: {selector: "#expiration-date", placeholder: "MM/YY or MM/YYYY"},
          //postalCode: {selector: "#postal-code", placeholder: "Zip Code"},
        },
      }, function (err, hostedFieldsInstance) {
        // Hosted Fields...
        if (err) {
          console.log(JSON.stringify(err));
          return;
        }
        // ...is good to go:
        hostedFields = hostedFieldsInstance;
        console.log("Hosted fields have been initialized.");
        // undisable the submit button, and add nonceGetterHF to it
        // submitter.removeAttribute("disabled")
        submitter.prop("disabled", false);
        submitter.click(nonceGetterHF);
        // add noncGetterHF to inputSubmitRequests (e.g. enter key pressed inside HF)
        hostedFieldsInstance.on('inputSubmitRequest', function (event) {
          nonceGetterHF()
        });
        // add event to get and display card type
        hostedFieldsInstance.on('cardTypeChange', function (event) {
          console.log(event.cards[0].niceType);
        });
      });

      // Create PayPal:
      braintree.paypal.create({
        client: braintreeClientInstance,
      }, function (err, paypalInstance) {
        // PayPal...
        if (err) {
          console.log(JSON.stringify(err));
          return;
        }
        // ...is good to go:

        ppInstance = paypalInstance;

        paypalButton.prop("disabled", false);
        console.log("PayPal has been initialized.");
        // add a function to the PayPal button to tokenize and invoke nonceHandler
        paypalButton.click(function() {

          amount = $("#amount").val();
          validAmount = (!isNaN(amount) && amount !== "")
          console.log("Valid amount? " + validAmount);

          if (validAmount) {
            tokenizeReturnInstance = paypalInstance.tokenize({
              flow: "checkout",
              amount: amount,
              currency: "USD",
              enableShippingAddress: true,
              useraction: "commit",
            }, function (err, payload) {
              if (err) {
                messenger.text(err.message);
                console.log(JSON.stringify(err));
                return;
              }
              console.log(JSON.stringify(payload));
              nonce = payload.nonce;
              nonceHandler(nonce, amount);
            });
            console.log(tokenizeReturnInstance);
          } else {
            messenger.text("Please enter a valid amount.")
          }

        });
      });

  	  // Create 3DS:
      braintree.threeDSecure.create({
        client: braintreeClientInstance,
      }, function (err, threeDSInstance) {
        if (err) {
          console.log(JSON.stringify(err));
          return;
        }
        console.log("3D Secure has been initialized.");
        threeDSecure = threeDSInstance;
      });

    });

  </script>

</body>
